@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

.container {
    width: 80%;
    margin: auto 0;
}

.bg-white {
    background-color: #fff;
}

@media (max-width: 430px) and (min-width: 320px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background: hsl(0, 0%, 91%);
        font-family: "Montserrat", sans-serif;
    }

    :root {
        --primaryColor: hsl(94, 55%, 56%);
        --hoverColor: hsl(93, 75%, 76%);
        --paleGreen: hsl(96, 75%, 89%);
        --whiteColor: hsl(0, 0%, 100%);
        --blackColor: hsl(0, 0%, 18%);
        --greyText: hsl(0, 0%, 75%);
        ---bgColor: hsl(113, 11%, 85%);
        --inputColor: hsl(330, 12%, 97%);

        --biggestFonstSize: 40px;
        --h1FonstSize: 24px;
        --h2FonstSize: 20px;
        --h3FonstSize: 16px;
        --normalFonstSize: 15px;
        --smallFonstSize: 13px;
        --smallestFonstSize: 12px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .grid {
        display: grid;
        align-items: center;
        gap: 20px;
    }

    a {
        text-decoration: none;
    }

    html {
        font-size: 90%;
    }

    li {
        list-style: none;
    }

    .icon {
        font-size: var(--h2FonstSize);
        cursor: pointer;
    }

    img {
        height: auto;
        width: 100%;
    }

    .message {
        display: none;
    }

    .showMessage {
        display: block;
        color: var(--whiteColor);
        background: rgb(255, 0, 0);
        border-radius: 3px;
        text-align: center;
    }

    .btn {
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 8px;
        padding: 13px 16px;
        color: var(--greyText);
    }

    .btn .icon {
        margin-left: 8px;
    }

    .btn:hover {
        color: var(--primaryColor);
        background: var(--paleGreen);
    }

    .loginPage {
        margin-top: 50px;

        .formDiv {
            flex-basis: 50%;
            margin: auto;
            flex-direction: column;
            gap: 1.5rem;
            transform: translateY(-1rem);

            .form {
                gap: 1rem;
                .images{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    img{
                        width: 125px;
                    }
                }

                .inputDiv {
                    .icon {
                        color: var(--greyText);
                        background: var(--inputColor);
                    }
                    input {
                        background: none;
                        outline: none;
                        border: none;
                        width: 250px;
                    }
                    label {
                        color: var(--blackColor);
                        font-weight: 400;
                        font-size: 14px;
                        padding: 0.5rem 0;
                        display: block;
                    }

                    .input {
                        gap: 0.5rem;
                        padding: 1rem;
                        border-radius: 10px;
                        background: var(--inputColor);
                    }
                }

                .btn {
                    padding: 0.8rem;
                    background: #ff7c11;
                    border-radius: 10px;
                    color: var(--whiteColor);
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    width: 100%;
                    gap: 0.5rem;
                    transition: 0.3s ease;
                    .icon {
                        background: #ff7c11;
                        font-size: 25px;
                        transition: 0.3s ease;
                    }
                    &:hover {
                        background-color: #003576;
                        color: var(--whiteColor);
                        .icon {
                            color: var(--whiteColor);
                            transform: translateX(5px);
                            background: #003576;
                        }
                    }
                }
            }
        }
    }
}
